<div class="thanks" style="display: 'block';">
  <h2>Thanks! We'll let you know when we launch.<br />
  	Share CourseSky with your friends and get priority access to join our private beta:</h2>
  <div class="share_buttons">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="I'm taking control of my learning! Just signed up for free classes" data-url="http://www.coursesky.com" data-via="CourseSkyonline" data-lang="en" data-size="large" data-count="none">Tweet It!</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <a href="#" class='share_button' onclick="window.open('https://www.facebook.com/sharer.php?u=http://coursesky.com/?t=Caring%20is%20sharing', '_blank', 'width=800,height=400')">
    	<img src="<%= asset_path("facebook.png", :alt => "share on facebook") %>" />
    </a>
  </div>
</div>

