<section>
	<h2>We’re launching with AP Classes! Sign up below to be the first to try out CourseSky!
	</h2>

	<%= simple_form_for @user do |f| %>
	  <%= f.input :email, label: false, :placeholder => 'Type your email here...' %>
	  <%= f.submit "Notify Me!", class: 'btn btn-large btn-signup'%>
	<% end %>
</section>