<section class="center" id="submit-section">
	<h2>We’re launching soon! Sign up below to be the first to try it out!
	</h2>
	<div id="submit-form">
		<%= simple_form_for @user, remote: true do |f| %>
		  <%= f.input :email, label: false, :placeholder => 'Type your email here...', input_html: {class: "signup_form"} %>
		  <%= f.submit "Notify Me", class: 'btn btn-large btn-signup' %>
		<% end %>
	</div>
</section>