<h1> About Us </h1>
<h2>
CourseSky is building an online learning platform to provide free, interactive, college-prep courses. Our platform will offer: </h2>

<div class="title-role">Conversation Learning</div> 
<p>
	Let's move online learning beyond video clips and practice questions. We're building a platform that mimics working with a private tutor. 
</p><br />
<div class="title-role">College Prep Courses</div> 
<p>
	We think anyone who wants to go to college should be academically prepared to do so. We're creating courses based on rigorous, college-prep curricula like AP. Challenging? Yes. Doable? Absolutely!
</p><br />
<div class="title-role">Learning Community</div> 
<p>
Learning alone is hard! We're building a global classroom where we can learn from each other!
</p>
