<%= provide(:title, 'Join Us!') %>

<h1> Join Us </h1>

<h2>Let's start a learning revolution together! </h2> 

<div class="title-role">Co-Founder / Lead Software Engineer</div>

<div class="job-description">
	<p> We’re looking for an experienced full-stack web developer. You'll own the stack and be responsible for managing others as we grow. This could be you if:
	</p>
	<ul>
		<li>You’re passionate about education; you have a strong perspective on the future of learning and believe technology will democratize learning</li>
		<li>You’re excited to join an early stage startup; you want to build something from the ground up</li>
		<li>You want to tackle big problems around online learning, e.g., using machine learning to mimic student-tutor interaction
		<li> We use: Ruby, Ruby on Rails, Javascript, HTML, CSS, RSpec, Heroku, AWS, plus whatever you think best solves the problem</li>
	</ul>
</div>

<hr />

<div class="title-role">
	Co-Founder / Lead Curriculum Developer
</div>
<div class="job-description">

	<p> We’re looking for someone to own the content development process. You'll be the content prophet, ensuring that our learning materials are the best quality available online. This could be you if:
	</p>

	<ul>
		<li>You’re passionate about education; you have a strong perspective on the future of learning and believe technology will democratize learning</li>
		<li>You’re excited to join an early stage startup; you want to build something from the ground up</li>
		<li> You have experience building curriculum at the high-school level; you’ve been a teacher, instructional designer, or tutor</li>
		<li>You’re familiar with Advanced Placement, Common Core, International Baccalaureate and other national/international curriculum standards</li>
	</ul>
</div>
<hr />

<div class="title-role">Interested?</div>
<p> 
	Email <a href="mailto:info@coursesky.com" "target=_blank">info@coursesky.com</a> and let’s start the conversation. Include links to professional profiles (Github, Stack Overflow, LinkedIn, Twitter)
</p>

<hr />
<div class="title-role">Still in School? Looking for smaller commitment? </div>
<p> 
	Join us as an intern! Check out our <a href="http://blog.coursesky.com/joinus" target="_blank">blog</a> for intern and freelance opportunities. 
</p>