<div class="center">
  <%= link_to image_tag("logo.png"), '/', id:"logo" %>
  <h1>Interactive, College Prep Courses</h1>

  <h2>
    Here's why you'll love us:
  </h2>
  <section class="boxesarea">
    <div class="box">
      <h3> Free Courses</h3><br />
        We’ll help you master challenging courses and get college-ready.  First up? AP Classes
    </div>
    <div class="box">
      <h3> Conversational Learning</h3><br />
      Forget boring lecture videos & long notes. Our platform is like learning from a private tutor
    </div>
    <div class="box">
      <h3> Build Community</h3><br />
      Never study alone! Ask questions and get help from learners like you. The global classroom has arrived!
    </div>
  </section>
  <%= render 'signup' %>
</div>