@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 15px;
  background-color: #F7F7F7;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

#logo{
  text-align: center;
}
.center {
  text-align: center;
  padding: 20px 10px 10px 10px;
  margin-bottom: 10px;
  h1 {
    margin-bottom: 15px;
  }
}

.control{
  font-weight: normal;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.7em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/** boxes on home pages **/
.box {
  border: solid 1px #ccc;
  width: 230px;
  float: left;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  &:hover { 
      background-color: #32B2C6;
    }
  .main{
  	font-weight: bold;
  }
}

.btn-signup{
  background-color: #741885;
  background: #741885;
  font-size: 18px;
  color: white;
  text-shadow: none;
  margin-left: 0px;
  /**float: right;**/
}

.signup_form{
  width: 300px;
  padding: 5px 5px;
}
input#user_email.string.email.required{
  border: 4px solid #741885;
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  float: left;
  vertical-align: middle;
}
#submit-form{
  width: 55%;
  margin: 0px auto;
  text-align: center;
}


.boxesarea{
  width: 90%; 
  margin: 0px auto;
}

.thanks{
  border: 4px solid #741885;
  box-shadow: 0 0 4px #4B4B4B;
  background-color: white;
  padding: 5px 5px 5px 5px;
}

.share_buttons{
  width: 15%;
  margin: 0px auto;
}
.twitter-share-button{
  float: left;
}