<footer class="footer">
  <nav>
    <ul>
    	<li><a href="http://blog.coursesky.com/about">About</a></li>
      <li><a href="https://twitter.com/courseskyonline">Twitter</a></li>
      <li><a href="https://www.facebook.com/CourseSkyOnline">Facebook</a></li>
      <li><a href="http://blog.coursesky.com/">Blog</a></li>
      <li><a href="mailto:info@coursesky.com" target="_blank">Contact</a></li>
    </ul>
  </nav>
</footer>
