<footer class="footer">
  <nav>
    <ul>
    	<li><a href="http://blog.coursesky.com/about">About</a></li>
      <li><a href="https://twitter.com/courseskyonline">@CourseSkyonline</a></li>
      <li><a href="https://www.facebook.com/CourseSkyOnline">Facebook</a></li>
      <li><a href="http://blog.coursesky.com/">Blog</a></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
